<div class="container">
  <container><br><br>
  <div class="row">
      <div class="col-lg-12 text-center">
          <h2 class="section-heading">Make a new Movie</h2>

      </div>
  </div>


    <form>
<%= form_for @movie do |f| %>

<% if @movie.errors.any? %>
    <div id="error_explanation" style = "color:red">
      <h2>
        <%= pluralize(@movie.errors.count, "error") %> prohibited
        this movie from being saved:
      </h2>
      <ul>
        <% @movie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



<!-- <mm-autocomplete id="movie_namer" >

</mm-autocomplete> -->
<div class ="form-group row">
<%= f.label :name , class:"col-sm-2 form-control-label"%>
<div class="col-sm-10">
<%= f.text_field :name %>
</div>
</div>

<div class ="form-group row">
  <%= f.label :director , class:"col-sm-2 form-control-label"%>
  <div class="col-sm-10">
  <%= f.text_field :director %>
  </div>
</div>

<div class ="form-group row">
  <%= f.label :info , class:"col-sm-2 form-control-label"%>
  <div class="col-sm-10">
  <%= f.text_area :info %>
  </div>
</div>

<div class ="form-group row">
  <%= f.label :effect_rating, class:"col-sm-2 form-control-label" %>
    <div class="col-sm-10">
  <%= f.text_field :effect_rating %>
</div>
</div>


    <%= fields_for :mood, @movie.mood do |mood_fields| %>
<div class ="form-group row">
    <%= mood_fields.label :mood, class:"col-sm-2 form-control-label"%>
      <div class="col-sm-10">
    <%= mood_fields.text_field :name %>
  </div>
</div>
<% end %>


<%= f.submit%>
<%= link_to 'Back', moods_path, class:"btn btn-primary" %>
<% end %>
</form>
</container>
</div>
<div class="clearfix">
</div>

<script>
	window.addEventListener("WebComponentsReady", function() {
		var name = document.querySelector('#movie_namer');
		name.data = [
			{name: "abelian", 			 value: "abelian"},
			{name: "pylorus", 			 value: "pylorus"},
			{name: "hainault", 			 value: "hainault"},
			{name: "omnidirectional", 	 value: "omnidirectional"},
			{name: "pul", 				 value: "pul"},
			{name: "antipastos", 		 value: "antipastos"},
			{name: "unwaxed", 			 value: "unwaxed"},
			{name: "mira", 				 value: "mira"},
			{name: "subconferential", 	 value: "subconferential"},
			{name: "chromolithographic", value: "chromolithographic"},
			{name: "cocainism", 		 value: "cocainism"},
			{name: "united", 			 value: "united"},
			{name: "conroy", 			 value: "conroy"},
			{name: "marsden", 			 value: "marsden"},
			{name: "zoon", 				 value: "zoon"},
			{name: "axiopoenus", 		 value: "axiopoenus"},
			{name: "quarrion", 			 value: "quarrion"},
			{name: "eliminated", 		 value: "eliminated"},
			{name: "postcode", 			 value: "postcode"},
		];


	});
</script>
