
<%= form_for @movie do |f| %>

<% if @movie.errors.any? %>
    <div id="error_explanation" style = "color:red">
      <h2>
        <%= pluralize(@movie.errors.count, "error") %> prohibited
        this movie from being saved:
      </h2>
      <ul>
        <% @movie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



<!-- <mm-autocomplete id="movie_namer" >

</mm-autocomplete> -->

<%= f.label :name %>
<%= f.text_field :name %>

  <%= f.label :director %>
  <%= f.text_field :director %>

  <%= f.label :info %>
  <%= f.text_area :info %>

  <%= f.label :effect_rating %>
  <%= f.text_field :effect_rating %></br>


    <%= fields_for :mood, @movie.mood do |mood_fields| %>
    <%= mood_fields.label :mood%>
    <%= mood_fields.text_field :name %>
<% end %>

<%= f.submit%>
<% end %>



<script>
	window.addEventListener("WebComponentsReady", function() {
		var name = document.querySelector('#movie_namer');
		name.data = [
			{name: "abelian", 			 value: "abelian"},
			{name: "pylorus", 			 value: "pylorus"},
			{name: "hainault", 			 value: "hainault"},
			{name: "omnidirectional", 	 value: "omnidirectional"},
			{name: "pul", 				 value: "pul"},
			{name: "antipastos", 		 value: "antipastos"},
			{name: "unwaxed", 			 value: "unwaxed"},
			{name: "mira", 				 value: "mira"},
			{name: "subconferential", 	 value: "subconferential"},
			{name: "chromolithographic", value: "chromolithographic"},
			{name: "cocainism", 		 value: "cocainism"},
			{name: "united", 			 value: "united"},
			{name: "conroy", 			 value: "conroy"},
			{name: "marsden", 			 value: "marsden"},
			{name: "zoon", 				 value: "zoon"},
			{name: "axiopoenus", 		 value: "axiopoenus"},
			{name: "quarrion", 			 value: "quarrion"},
			{name: "eliminated", 		 value: "eliminated"},
			{name: "postcode", 			 value: "postcode"},
		];


	});
</script>
