<container >
  <section>
    <div >
      <h3> <%=@movie.name  %></h3>
        <p> <%= @movie.director%></p>
        <p> <%= @movie.info%></p>
        <p> <%= @movie.effect_rating%></p>
        <p> <%= @movie.mood.name%></p>
    </div>
    <%= link_to 'Edit', edit_movie_path(@movie) %> |
    <%= link_to 'Back to all my movies!', movies_path %>
  </section>
</container>
