<!DOCTYPE html>
<html>
<head>

  <title>MoodmakerDelux</title>

  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="import" href="/assets/strand/dist/strand.html"/>
</head>


<body id="page-top" class='index' >

    <!-- Navigation -->
    <nav class="<%= @home ? 'navbar navbar-default navbar-fixed-top' : 'navbar navbar-default navbar-fixed-top black-header'%>">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                 <%= link_to 'Start Your Mood', new_mood_path, class:"navbar-brand page-scroll"%>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <%=link_to 'HOME', root_path, class:"page-scroll" %>
                    </li>
                    <li>
                        <%=link_to 'movies', movies_path, class:"page-scroll" %>
                    </li>
                    <li>
                        <%=link_to 'moods', moods_path, class:"page-scroll" %>
                    </li>
                    <li>
                        <%=link_to 'Add a movie', new_movie_path, class:"page-scroll" %>
                    </li>
                    <li>
                        <%=link_to 'Add a mood', new_mood_path, class:"page-scroll" %>
                    </li>
                    <li>
                        <%=link_to 'Contact', contact_path, class:"page-scroll" %>
                    </li>



                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>



    <%=yield%>




 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Nataliya</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-github"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>



</body>
</html>
